# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
# https://clangformat.com
# Binaries: http://llvm.org/releases/download.html

BasedOnStyle: WebKit

UseTab: Never
IndentWidth: 4
ObjCBlockIndentWidth: 4
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4

AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BinPackArguments: true
BinPackParameters: false
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeComma
ColumnLimit: 0
CompactNamespaces: false
KeepEmptyLinesAtTheStartOfBlocks: false
IndentCaseLabels: true
MaxEmptyLinesToKeep: 1
NamespaceIndentation: Inner
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
PointerAlignment: Left
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: true
SpacesInParentheses: false
SpacesInSquareBrackets: false

Standard: Cpp11
NamespaceIndentation: None
Cpp11BracedListStyle: true
AlwaysBreakTemplateDeclarations: true
